<div class="jumbotron">
  <h1 class="title">18K Offer</h1>
  <p class="title">18K Offer 是一個提供18K薪水工作機會的求職網站
  <br>
  我們希望藉由這個網站，能讓大家找到並應徵上高薪且優質的工作。
  <br>
  憑藉自己的努力和天份也會變 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">馬上應徵</a></p>
</div>
